.gradient-background {
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: hsl(240deg 27% 2% / 100%);
  background-image: radial-gradient(at 58% 50%, hsl(201deg 69% 52% / 0%) 0, transparent 50%),
  radial-gradient(at 0% 0%, hsl(216deg 48% 43% / 74%) 0, transparent 50%),
  radial-gradient(at 99% 98%, hsl(277deg 95% 18% / 100%) 0, transparent 50%);
}

.waves-decorator {
  position: fixed;
  z-index: -10;
  bottom: 0;
  left: 0;
  width: 200vw;
  opacity: 0.3;
  transform: rotate(-45deg);
}
