.DoubleTd {
  .icon {
    margin-right: 5px;
  }

  .historical {
    margin-bottom: 6px;
    display: flex;
    justify-content: left;
    align-content: center;
  }

  .actual {
    display: flex;
    justify-content: left;
    align-content: center;
  }
}

.text__profit {
  color: var(--profit);
}

.text__loss {
  color: var(--loss);
}

@media screen and (max-width: 600px) {
  .DoubleTd {

    .historical, .actual {
      flex-direction: row-reverse;

      .icon {
        margin-right: 0;
        margin-left: 5px;
      }
    }

    .historical {
      justify-content: right;
    }

    .actual {
      justify-content: right;
    }
  }
}