.DoubleTd {
  .icon {
    margin-right: 5px;
  }

  .historical {
    margin-bottom: 6px;
    display: flex;
    justify-content: left;
    align-content: center;
  }

  .actual {
    display: flex;
    justify-content: left;
    align-content: center;
  }

  .time {
    margin-left: 5px;
    color: grey;
  }
}

.__date {
  max-width: 170px;
  margin: 0 auto
}

.text__profit {
  color: var(--profit);
}

.text__loss {
  color: var(--loss);
}

@media (max-width: 900px) {
  .time {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .DoubleTd {

    .historical, .actual {
      flex-direction: row-reverse;

      .icon {
        margin-right: 0;
        margin-left: 5px;
      }
    }

    .historical {
      justify-content: right;
    }

    .actual {
      justify-content: right;
    }
  }
  .__date {
    max-width: none;
    margin: 0
  }
}