.TradesTable {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;

  thead {
    position: sticky;
    top: 0;
    background-color: rgb(29 48 79 / 70%);
    backdrop-filter: blur(5px);
    z-index: 10;
  }
}

@media screen and (max-width: 600px) {
  .TradesTable {
    thead {
      display: none;
    }
  }
}