.TradesTable {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;

  tbody {
    background-color: rgba(255, 255, 255, 0.05); //TODO - set in on table wrapper;
    //backdrop-filter: blur(5px); //TODO - set in on table wrapper;
  }
}

@media screen and (max-width: 600px) {
  .TradesTable {
    thead {
      display: none;
    }
  }
}