.TradesTable {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;

  thead {
    position: sticky;
    top: 0;
    //background-color: rgb(29 48 79 / 70%);
    //background: rgb(37 58 90);
    background: linear-gradient(90deg, rgb(37, 58, 90) 10%, rgba(12, 19, 31, 0.75) 100%);
    //background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgb(28 50 86 / 70%) 0%, rgb(255 255 255 / 0%) 100%);

    backdrop-filter: blur(10px);
    z-index: 10;
  }
}

@media screen and (max-width: 600px) {
  .TradesTable {
    thead {
      display: none;
    }
  }
}