.main {
  display: flex;
  max-height: calc(100vh - 250px);
}

.left {
  margin-top: 50px;
  height: calc(100vh - 250px);

  .content {
    padding: 10px;
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    border-radius: 10px 0 0 10px;
    background-color: rgba(255, 255, 255, 0.05);
  }

}

.right {
  width: 100%;
  position: relative;
  height: calc(100vh - 250px);

  .background {
    background-color: rgba(255, 255, 255, 0.08);
  }

  .border-line {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
  }
}

@media (max-width: 600px) {
  .right {
    height: calc(100vh - 110px);

    ::-webkit-scrollbar {
      display: none;
    }
  }
}