:root {
  --profit: #45ff58;
  --loss: #ff7777;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  color: #f7f7f7;
  font-family: Poppins, Roboto, sans-serif;
  background-color: #221669;
}

.button-gradient {
  background: linear-gradient(157.81deg, #f1defa -43.27%, #ddbef5 -21.24%, #c69df0 12.19%, #a77deb 29.82%, #975ce6 51.94%, #7d33cf 90.29%)
}

.title_gradient {
  color: transparent;
  background: linear-gradient(90deg, #4ca5ff 2.34%, #b673f8 100.78%);
  -webkit-background-clip: text;
}

.subtitle_color {
  color: #97b5d4;
}

.text-white {
  color: #f7f7f7;
}

//scroll-bar:
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 3px;;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.15);
}